---
import TitleSections from "@/components/TitleSections.astro";
import data from "@/static/technologies_data.json";
---

<section id="technologies">
  <TitleSections title="Tecnologías:" center={false} />
  <div class="technologies-container">
    {
      data.map((item, i) => (
        <div class="technologie-item" style={`--color: ${item.color};`}>
          <img src={item.image} alt={item.label} />
          <span>{item.label}</span>
        </div>
      ))
    }
  </div>
</section>
<style>
  section {
    width: var(--max-page-width);
    margin: auto;
    padding-top: 70px;
  }

  .technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
  }

  .technologie-item {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: default;
    width: 100px;
    height: 100px;
  }

  .technologie-item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    background: radial-gradient(var(--color) 25%, transparent, transparent);
    transition: all ease-in-out 300ms;
    opacity: 0;
  }

  .technologie-item img {
    margin-top: 35px;
    width: 60px;
    height: 60px;
    scale: 0.9;
    transition: all ease-in-out 200ms;
    filter: grayscale(30%);
  }

  .technologie-item span {
    display: block;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--text-primary);
    transition: all ease-in-out 200ms;
    opacity: 0;
    font-size: 0.9rem;
  }

  .technologie-item:hover img {
    margin-top: 25px;
    scale: 1;
    filter: grayscale(0);
  }

  .technologie-item:hover span {
    top: 90px;
    opacity: 100%;
  }

  .technologie-item:hover::before {
    opacity: 100%;
  }

  @media (min-width: 450px) {
    .technologie-item {
      width: 130px;
      height: 130px;
    }

    .technologie-item img {
      width: 70px;
      height: 70px;
    }
  }

  @media (min-width: 768px) {
    .technologie-item {
      width: 150px;
      height: 150px;
    }

    .technologie-item img {
      width: 80px;
      height: 80px;
    }

    .technologie-item span {
      top: 100px;
      font-size: 1rem;
    }

    .technologie-item:hover span {
      top: 115px;
    }
  }
</style>
